:root {
  --main-color: #38b261;
  --white: #fff;
  --black: #000000;
  --red: #d11a2a;

  --default: #d6d6d6;
  --selected: #888888;
}

.main {
  height: 100vh;
  width: auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emotion-wheel-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container-top {
  margin-top: 30px;
  max-height: 70vh;
}

.container-bottom {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 350px;
  align-self: center;
}

.save {
  position: fixed;
  bottom: 15px;
  right: -100px;
  transition: right 0.2s ease;
}

.show {
  bottom: 15px;
  right: 15px;
}

.save .btn {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: var(--default);
  color: var(--black);
  font-weight: bold;
}

.btn svg {
  display: block;
  margin: auto;
  height: 50%;
}

path {
  fill: white;
}

.wheel-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.wheel-container svg {
  flex: 1;
}

.circle {
  color: var(--default);
  transition-timing-function: ease-out;
  transition: r 0.2s;
}

text {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.select-none {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
}

.current {
  color: var(--selected);
}

text.current {
  font-size: 40px;
}

.selected {
  color: var(--selected);
}

.selected-current {
  filter: brightness(0.9);
}

.rating-section {
  max-width: 350px;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.rating-bar-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rate-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.rating-element {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: block;
  background-color: var(--default);
  border: none;
  transition: background-color 150ms;
  color: inherit;
}

.rating-intensity {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.rating-intensity p {
  font-size: 0.7rem;
}

.checked {
  background-color: var(--selected);
}

.participant-container {
  max-width: 350px;
  width: 80%;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

/* Buttons */

.btn {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: var(--main-color);
  color: var(--white);
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
}

.btn:hover {
  background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.btn:active {
  background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
}

button[disabled] {
  background-color: gray;
  cursor: default;
}

button[disabled]:hover {
  background-image: none;
}

.delete {
  background-color: var(--red);
}

.cancel {
  background-color: var(--default);
  color: var(--black);
}

.center {
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
  font-size: 1.2rem;
}

/* Input */

.text-input {
  width: 100%;
  max-width: 500px;
  padding: 10px 11px;
  border: 1px solid #dae2ed;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  line-height: 1.5;
  font-size: 1rem;
  box-sizing: border-box;
}

.input-name {
  width: 100%;
}

.input-name p {
  font-size: 0.9rem;
}

.text-input:hover {
  border: 1px solid black;
}

.text-input:focus {
  outline: 3px solid rgb(97, 124, 235);
}

text {
  font-size: 35px;
  font-weight: bold;
}

.other-container {
  width: 100%;
}

.other-container p {
  font-size: 1rem;
}

.other-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.other-list button {
  height: 42px;
  width: 42px;
}

.other-btns {
  display: flex;
  gap: 5px;
}

.list-item {
  display: flex;
  justify-content: space-between;
}

.list-item-text {
  display: flex;
  align-items: center;
  max-width: 60%;
}

.list-item-text p {
  font-size: 0.9rem;
  overflow: hidden;
  overflow-wrap: break-word;
}

.page-title {
  text-align: center;
  padding: 0 10px;
}

/* Screens >450px */

@media only screen and (min-width: 450px) {
  .container-top {
    height: 70vh;
    margin: 0px;
  }

  text {
    font-size: 25px;
    font-weight: normal;
  }

  text.current {
    font-size: 30px;
    pointer-events: none;
  }

  g:hover .circle {
    filter: brightness(0.9);
  }

  .rate-btn {
    height: 40px;
    width: 40px;
  }
}
