.circle-box {
  display: flex;
  justify-content: center;
  max-height: 100vh;
}

.circle-container {
  flex: 1;
}

.circle {
  color: #2F7285;
}

g text {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

g:hover .circle {
  color: blue;
}

.selected {
  color: blue;
}

.rate-container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.rate-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.rate-buttons button {
  width: 100%;
}

.rate {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.rate input {
  display: none
}

.rate-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: #2F7285;
}

.checked {
  background-color: #2F7285;
}

.participant-container {
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

.btn {
  height: 50px;
}

.delete {
  background-color: red;
}

.add {
  background-color: rgb(21 128 61);
}

.center {
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .circle {
    r: 59;
  }

  text {
    font-size: 25px;
    font-weight: bold;
  }
}