.circle-box {
  display: flex;
  justify-content: center;
  max-height: 100vh;
}

.circle-container {
  flex: 1;
}
.circle {
  color: #2F7285;
}

g text {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

g {
  pointer-events: bounding-box;
}

g:hover .circle {
  color: blue;
}

.selected {
  color: blue;
}
